# __`Pandas DataFrame`__

A Pandas DataFrame is a two-dimensional, tabular data structure with labeled axes (rows and columns).

It is a primary data structure in the Pandas library, providing a versatile and efficient way to handle and manipulate data in Python.

![Pandas Data Frame](https://labcontent.simplicdn.net/data-content/content-assets/Data_and_AI/ADSP_Images/Lesson_04_Working_with_Pandas/2_Introduction_to_DataFrame/Introduction_to_Pandas_DataFrame.png)

__Key Features:__

* __Tabular structure:__ The DataFrame is organized as a table with rows and columns, similar to a spreadsheet or SQL table.

* __Labeled axes:__ Both rows and columns are labeled, allowing for easy indexing and referencing of data.

* __Heterogeneous data types:__ Each column in a DataFrame can contain different types of data, such as integers, floats, strings, or even complex objects.

* __Versatility:__ DataFrames can store and handle a wide range of data formats, including CSV, Excel, SQL databases, and more.

* __Data alignment:__ Operations on DataFrames are designed to handle missing values gracefully, aligning data based on labels.

## __`Creating a DataFrame Using Different Methods`__

Creating a Pandas DataFrame is a fundamental step in data analysis and manipulation.

Diverse methods are available within Pandas to generate a DataFrame, addressing various data sources and structures.
Data, whether in Python dictionaries, lists, NumPy arrays, or external files such as CSV and Excel, can be seamlessly transformed into a structured tabular format by Pandas.

In [1]:
import pandas as pd

### __Creating a DataFrame from a dictionary__

In [3]:
# Creating a DataFrame from a dictionary
data_dict = {'Name': ['Alice', 'Bob', 'Charlie'],
             'Age': [25, 30, 22],
             'Salary': [50000, 60000, 45000]}

df_dict = pd.DataFrame(data_dict)
print(df_dict)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   22   45000

### __Creating a DataFrame from lists__

In [4]:
# Creating a DataFrame from lists
data_list = [['Alice', 25, 50000], ['Bob', 30, 60000], ['Charlie', 22, 45000]]

In [5]:
print(data_list)

[['Alice', 25, 50000], ['Bob', 30, 60000], ['Charlie', 22, 45000]]

In [6]:
# Defining column names
columns = ['Name', 'Age', 'Salary']

df_list = pd.DataFrame(data_list, columns=columns)
print(df_list)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   22   45000

In [8]:
# Creating a DataFrame from a CSV file
df_csv = pd.read_csv('HousePrices.csv')
print(df_csv)

                     date         price  bedrooms  bathrooms  sqft_living  \
0     2014-05-02 00:00:00  3.130000e+05       3.0       1.50         1340
1     2014-05-02 00:00:00  2.384000e+06       5.0       2.50         3650
2     2014-05-02 00:00:00  3.420000e+05       3.0       2.00         1930
3     2014-05-02 00:00:00  4.200000e+05       3.0       2.25         2000
4     2014-05-02 00:00:00  5.500000e+05       4.0       2.50         1940
...                   ...           ...       ...        ...          ...
4595  2014-07-09 00:00:00  3.081667e+05       3.0       1.75         1510
4596  2014-07-09 00:00:00  5.343333e+05       3.0       2.50         1460
4597  2014-07-09 00:00:00  4.169042e+05       3.0       2.50         3010
4598  2014-07-10 00:00:00  2.034000e+05       4.0       2.00         2090
4599  2014-07-10 00:00:00  2.206000e+05       3.0       2.50         1490

      sqft_lot  floors  waterfront  view  condition  sqft_above  \
0         7912     1.5           0     0          3        1340
1         9050     2.0           0     4          5        3370
2        11947     1.0           0     0          4        1930
3         8030     1.0           0     0          4        1000
4        10500     1.0           0     0          4        1140
...        ...     ...         ...   ...        ...         ...
4595      6360     1.0           0     0          4        1510
4596      7573     2.0           0     0          3        1460
4597      7014     2.0           0     0          3        3010
4598      6630     1.0           0     0          3        1070
4599      8102     2.0           0     0          4        1490

      sqft_basement  yr_built  yr_renovated                    street  \
0                 0      1955          2005      18810 Densmore Ave N
1               280      1921             0           709 W Blaine St
2                 0      1966             0  26206-26214 143rd Ave SE
3              1000      1963             0           857 170th Pl NE
4               800      1976          1992         9105 170th Ave NE
...             ...       ...           ...                       ...
4595              0      1954          1979            501 N 143rd St
4596              0      1983          2009          14855 SE 10th Pl
4597              0      2009             0          759 Ilwaco Pl NE
4598           1020      1974             0         5148 S Creston St
4599              0      1990             0         18717 SE 258th St

           city  statezip country
0     Shoreline  WA 98133     USA
1       Seattle  WA 98119     USA
2          Kent  WA 98042     USA
3      Bellevue  WA 98008     USA
4       Redmond  WA 98052     USA
...         ...       ...     ...
4595    Seattle  WA 98133     USA
4596   Bellevue  WA 98007     USA
4597     Renton  WA 98059     USA
4598    Seattle  WA 98178     USA
4599  Covington  WA 98042     USA

[4600 rows x 18 columns]

In [11]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [openpyxl]1/2 [openpyxl]
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [12]:
# Creating a DataFrame from an Excel file
df_excel = pd.read_excel('Iris.xlsx')
print(df_excel)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

## __Accessing the DataFrame__
Accessing a Pandas DataFrame involves employing various methods for selecting and retrieving data, whether it be specific columns, rows, or individual cells.

Utilizing square brackets, iloc and loc indexers, and conditions, analysts can navigate and extract the necessary information from the DataFrame for further analysis and manipulation.
The flexibility of Pandas allows for both label-based and position-based indexing, offering a versatile toolkit for accessing and working with data efficiently.

In [13]:
# Creating a sample DataFrame
data = {'Column_name': [5, 15, 8],
        'Column1': [10, 20, 30],
        'Column2': [100, 200, 300],
        'Another_column': [25, 35, 45]}

df = pd.DataFrame(data)

In [14]:
print(df)

   Column_name  Column1  Column2  Another_column
0            5       10      100              25
1           15       20      200              35
2            8       30      300              45

In [15]:
# Accessing a single column
column_data = df['Column_name']
print("Single column:")
print(column_data)

Single column:
0     5
1    15
2     8
Name: Column_name, dtype: int64

In [16]:
# Accessing multiple columns
selected_columns = df[['Column1', 'Column2']]
print("\nMultiple columns:")
print(selected_columns)

Multiple columns:
   Column1  Column2
0       10      100
1       20      200
2       30      300

In [17]:
# Accessing a specific row by index
row_data = df.iloc[0]
print("\nSpecific row:")
print(row_data)

Specific row:
Column_name         5
Column1            10
Column2           100
Another_column     25
Name: 0, dtype: int64

In [18]:
# Accessing rows based on a condition
filtered_rows = df[df['Column_name'] > 10]
print("\nFiltered rows:")
print(filtered_rows)

Filtered rows:
   Column_name  Column1  Column2  Another_column
1           15       20      200              35

In [19]:
# Accessing a single cell by label
value = df.at[0, 'Column_name']
print("\nSingle cell by label:")
print(value)

Single cell by label:
5

In [20]:
# Accessing a single cell by position
value = df.iat[0, 1]  # Row 0, Column 1
print("\nSingle cell by position:")
print(value)

Single cell by position:
10

In [21]:
# Accessing data using .loc
selected_data = df.loc[0, 'Column_name']
print("\nData using .loc:")
print(selected_data)

Data using .loc:
5

In [22]:
# Conditional access
selected_data = df[df['Column_name'] > 10]['Another_column']
print("\nConditional access:")
print(selected_data)

Conditional access:
1    35
Name: Another_column, dtype: int64

__Data Frame__

In [25]:
print(df)

   Column_name  Column1  Column2  Another_column
0            5       10      100              25
1           15       20      200              35
2            8       30      300              45

In [30]:
selected_data = df[df['Column_name'] > 10]['Another_column']

Step 1: Create a boolean mask

```python
df['Column_name'] > 10
```

0    False

1     True

2    False

Name: Column_name, dtype: bool

This says:

Row 0 → 5 > 10 ❌

Row 1 → 15 > 10 ✅

Row 2 → 8 > 10 ❌

Step 2: Filter rows using the mask

```python
df['Column_name'] > 10
```

Resulting DataFrame:

Only the row where Column_name is greater than 10 survives.

   Column_name  Column1  Column2  Another_column
1           15       20      200              35

Step 3: Select a single column

In [31]:
selected_data = df[df['Column_name'] > 10]['Another_column']

['Another_column']

Resulting Series:

1    35
Name: Another_column, dtype: int64

### __Understanding DataFrame Basics__

* The head() and tail() methods enable users to efficiently preview the initial and final rows of
  a DataFrame, offering a quick snapshot of its structure and content.
  
* These functions are invaluable for a preliminary assessment of column names, data types, and
  potential issues. Additionally, the info() method provides a comprehensive summary, detailing
  data types, non-null counts, and memory usage, aiding in the identification of missing or
  inconsistent data.

* The shape attribute, on the other hand, succinctly communicates the dimensions of the
  DataFrame, encapsulating the number of rows and columns.

* The syntax for some functions is provided below:

![chart](https://labcontent.simplicdn.net/data-content/content-assets/Data_and_AI/ADSP_Images/Lesson_04_Working_with_Pandas/2_Introduction_to_DataFrame/Understanding_DataFrame_Basics.png)

In [34]:
import pandas as pd

In [36]:
# Create a sample DataFrame
data = {'Column_name': [5, 15, 8],
        'Column1': [10, 20, 30],
        'Column2': [100, 200, 300],
        'Another_column': [25, 35, 45]}

df = pd.DataFrame(data)

In [37]:
print(data)

{'Column_name': [5, 15, 8], 'Column1': [10, 20, 30], 'Column2': [100, 200, 300], 'Another_column': [25, 35, 45]}

In [38]:
print(df)

   Column_name  Column1  Column2  Another_column
0            5       10      100              25
1           15       20      200              35
2            8       30      300              45

In [39]:
# Display the first 2 rows
print("First 2 rows:")
print(df.head(2))

First 2 rows:
   Column_name  Column1  Column2  Another_column
0            5       10      100              25
1           15       20      200              35

In [40]:
# Display the last row
print("\nLast row:")
print(df.tail(1))

Last row:
   Column_name  Column1  Column2  Another_column
2            8       30      300              45

In [41]:
# Provide a comprehensive summary of the DataFrame
print("\nDataFrame summary:")
df.info()

DataFrame summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Column_name     3 non-null      int64
 1   Column1         3 non-null      int64
 2   Column2         3 non-null      int64
 3   Another_column  3 non-null      int64
dtypes: int64(4)
memory usage: 228.0 bytes

In [42]:
# Return a tuple representing the dimensions of the DataFrame (Rows, columns)
print("\nDataFrame dimensions:")
print(df.shape)

DataFrame dimensions:
(3, 4)

### __Introduction to Statistical Operations in Pandas__


Pandas supports the computation of fundamental measures such as mean and median, along with the exploration of correlations and distribution characteristics.

The following examples illustrate key statistical operations available in Pandas:

### __Descriptive Statistics__

In [43]:
import pandas as pd

In [44]:

# Create a sample DataFrame with numeric columns
data = {'Numeric_column1': [5, 15, 8],
        'Numeric_column2': [10, 20, 30],
        'Numeric_column3': [100, 200, 300]}

df = pd.DataFrame(data)

In [45]:
print(data)

{'Numeric_column1': [5, 15, 8], 'Numeric_column2': [10, 20, 30], 'Numeric_column3': [100, 200, 300]}

In [46]:
print(df)

   Numeric_column1  Numeric_column2  Numeric_column3
0                5               10              100
1               15               20              200
2                8               30              300

In [47]:
# Display descriptive statistics for numeric columns
print("Descriptive statistics for numeric columns:")
print(df.describe())

Descriptive statistics for numeric columns:
       Numeric_column1  Numeric_column2  Numeric_column3
count         3.000000              3.0              3.0
mean          9.333333             20.0            200.0
std           5.131601             10.0            100.0
min           5.000000             10.0            100.0
25%           6.500000             15.0            150.0
50%           8.000000             20.0            200.0
75%          11.500000             25.0            250.0
max          15.000000             30.0            300.0

In [48]:

# Create a sample DataFrame with numeric columns
data = {'Numeric_column1': [5, 15, 8],
        'Numeric_column2': [10, 20, 30],
        'Numeric_column3': [100, 200, 300]}

df = pd.DataFrame(data)

# Calculate mean, median, and standard deviation
mean_value = df.mean()
median_value = df.median()
std_deviation = df.std()

print("Mean:\n", mean_value)
print("\nMedian:\n", median_value)
print("\nStandard deviation:\n", std_deviation)

Mean:
 Numeric_column1      9.333333
Numeric_column2     20.000000
Numeric_column3    200.000000
dtype: float64

Median:
 Numeric_column1      8.0
Numeric_column2     20.0
Numeric_column3    200.0
dtype: float64

Standard deviation:
 Numeric_column1      5.131601
Numeric_column2     10.000000
Numeric_column3    100.000000
dtype: float64

### __Correlation Analysis__

The corr() function generates a correlation matrix, indicating how variables relate to each other.

Values closer to 1 or -1 imply a stronger correlation, while values near 0 suggest a weaker correlation.

__Correlation measures how strongly two numeric columns move together.__

* When one column goes up, does the other go up, down, or not change?

* How strong is that relationship?

| Value  | Meaning                                                |
| ------ | ------------------------------------------------------ |
| **+1** | Perfect positive relationship (move up together)       |
| **0**  | No linear relationship                                 |
| **–1** | Perfect negative relationship (one up, the other down) |

`df.corr()`:
* Compares every numeric column with every other numeric column

* Uses Pearson correlation by default (linear relationship)

* Outputs a matrix (table)

In [49]:
# Create a sample DataFrame with numeric columns
data = {'Numeric_column1': [5, 15, 8],
        'Numeric_column2': [10, 20, 30],
        'Numeric_column3': [100, 200, 300]}

df = pd.DataFrame(data)

In [50]:
print(df)

   Numeric_column1  Numeric_column2  Numeric_column3
0                5               10              100
1               15               20              200
2                8               30              300

In [53]:
# Compute correlation matrix
correlation_matrix = df.corr()

print("Correlation matrix:\n", correlation_matrix)

Correlation matrix:
                  Numeric_column1  Numeric_column2  Numeric_column3
Numeric_column1         1.000000         0.292306         0.292306
Numeric_column2         0.292306         1.000000         1.000000
Numeric_column3         0.292306         1.000000         1.000000

__How to read this__

* Diagonal = 1.0

    A column is perfectly correlated with itself

* Numeric_column2 & Numeric_column3 = 1.0

    They increase together perfectly

* Numeric_column1 has a moderate positive correlation with the other

___

__Numeric_column2: 10 → 20 → 30__

__Numeric_column3: 100 → 200 → 300__

__They increase in exact proportion → perfect correlation.__

In [54]:
print(correlation_matrix)

                 Numeric_column1  Numeric_column2  Numeric_column3
Numeric_column1         1.000000         0.292306         0.292306
Numeric_column2         0.292306         1.000000         1.000000
Numeric_column3         0.292306         1.000000         1.000000

__Value Counts__
The value_counts() function tallies the occurrences of unique values in a categorical column, aiding in understanding the distribution of categorical data.

In [58]:
import pandas as pd

# Create a sample DataFrame with a category column
data = {'Category': ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'A', 'B', 'C']}
df = pd.DataFrame(data)

print(df)
# Count occurrences of unique values in the category column
value_counts = df['Category'].value_counts()

print("Value counts:\n", value_counts)

  Category
0        A
1        B
2        A
3        C
4        B
5        A
6        C
7        A
8        B
9        C
Value counts:
 Category
A    4
B    3
C    3
Name: count, dtype: int64

__Problem Statement:__

Analyze a housing dataset using Pandas DataFrame and statistical operations to understand the basic characteristics of the data and the relationships between different variables.

__1. Load the housing dataset into a Pandas DataFrame__

In [59]:
housing_data = pd.read_csv('housing_data.csv')

In [60]:
print(housing_data)

      Unnamed: 0 MSSubClass MSZoning  LotFrontage  LotArea Street Alley  \
0              0       SC60       RL         65.0     8450   Pave   NaN
1              1       SC20       RL         80.0     9600   Pave   NaN
2              2       SC60       RL         68.0    11250   Pave   NaN
3              3       SC70       RL         60.0     9550   Pave   NaN
4              4       SC60       RL         84.0    14260   Pave   NaN
...          ...        ...      ...          ...      ...    ...   ...
1455        1455       SC60       RL         62.0     7917   Pave   NaN
1456        1456       SC20       RL         85.0    13175   Pave   NaN
1457        1457       SC70       RL         66.0     9042   Pave   NaN
1458        1458       SC20       RL         68.0     9717   Pave   NaN
1459        1459       SC20       RL         75.0     9937   Pave   NaN

     LotShape LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature  \
0         Reg         Lvl    AllPub  ...        0     No     No          No
1         Reg         Lvl    AllPub  ...        0     No     No          No
2         IR1         Lvl    AllPub  ...        0     No     No          No
3         IR1         Lvl    AllPub  ...        0     No     No          No
4         IR1         Lvl    AllPub  ...        0     No     No          No
...       ...         ...       ...  ...      ...    ...    ...         ...
1455      Reg         Lvl    AllPub  ...        0     No     No          No
1456      Reg         Lvl    AllPub  ...        0     No  MnPrv          No
1457      Reg         Lvl    AllPub  ...        0     No  GdPrv        Shed
1458      Reg         Lvl    AllPub  ...        0     No     No          No
1459      Reg         Lvl    AllPub  ...        0     No     No          No

     MiscVal MoSold YrSold  SaleType  SaleCondition  SalePrice
0          0    Feb   2008        WD         Normal     208500
1          0    May   2007        WD         Normal     181500
2          0    Sep   2008        WD         Normal     223500
3          0    Feb   2006        WD        Abnorml     140000
4          0    Dec   2008        WD         Normal     250000
...      ...    ...    ...       ...            ...        ...
1455       0    Aug   2007        WD         Normal     175000
1456       0    Feb   2010        WD         Normal     210000
1457    2500    May   2010        WD         Normal     266500
1458       0    Apr   2010        WD         Normal     142125
1459       0    Jun   2008        WD         Normal     147500

[1460 rows x 81 columns]

__2. Familiarize with the DataFrame basics such as its structure, data types of the columns, and summary statistics__

In [62]:
structure = housing_data.shape

In [63]:
print(structure)

(1460, 81)

In [65]:
data_type = housing_data.dtypes

In [66]:
print(data_type)

Unnamed: 0         int64
MSSubClass        object
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold            object
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [67]:
summary = housing_data.info

In [68]:
print(summary)

<bound method DataFrame.info of       Unnamed: 0 MSSubClass MSZoning  LotFrontage  LotArea Street Alley  \
0              0       SC60       RL         65.0     8450   Pave   NaN
1              1       SC20       RL         80.0     9600   Pave   NaN
2              2       SC60       RL         68.0    11250   Pave   NaN
3              3       SC70       RL         60.0     9550   Pave   NaN
4              4       SC60       RL         84.0    14260   Pave   NaN
...          ...        ...      ...          ...      ...    ...   ...
1455        1455       SC60       RL         62.0     7917   Pave   NaN
1456        1456       SC20       RL         85.0    13175   Pave   NaN
1457        1457       SC70       RL         66.0     9042   Pave   NaN
1458        1458       SC20       RL         68.0     9717   Pave   NaN
1459        1459       SC20       RL         75.0     9937   Pave   NaN

     LotShape LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature  \
0         Reg         Lvl    AllPub  ...        0     No     No          No
1         Reg         Lvl    AllPub  ...        0     No     No          No
2         IR1         Lvl    AllPub  ...        0     No     No          No
3         IR1         Lvl    AllPub  ...        0     No     No          No
4         IR1         Lvl    AllPub  ...        0     No     No          No
...       ...         ...       ...  ...      ...    ...    ...         ...
1455      Reg         Lvl    AllPub  ...        0     No     No          No
1456      Reg         Lvl    AllPub  ...        0     No  MnPrv          No
1457      Reg         Lvl    AllPub  ...        0     No  GdPrv        Shed
1458      Reg         Lvl    AllPub  ...        0     No     No          No
1459      Reg         Lvl    AllPub  ...        0     No     No          No

     MiscVal MoSold YrSold  SaleType  SaleCondition  SalePrice
0          0    Feb   2008        WD         Normal     208500
1          0    May   2007        WD         Normal     181500
2          0    Sep   2008        WD         Normal     223500
3          0    Feb   2006        WD        Abnorml     140000
4          0    Dec   2008        WD         Normal     250000
...      ...    ...    ...       ...            ...        ...
1455       0    Aug   2007        WD         Normal     175000
1456       0    Feb   2010        WD         Normal     210000
1457    2500    May   2010        WD         Normal     266500
1458       0    Apr   2010        WD         Normal     142125
1459       0    Jun   2008        WD         Normal     147500

[1460 rows x 81 columns]>